.container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 15px;
    text-align: center;
}

.container h2 {
    font-size: 5rem;
}

.container a {
    font-size: 1.4rem;
}

.intro img {
    width: 70vw;
}
