.container {
    margin: 15px;
    padding: 20px 30px;
    text-align: center;
}

.container p {
    text-align: left;
    /*text-align: center;*/
}

.container p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container h2 {
    font-size: 5rem;
}

.container a {
    font-size: 1.4rem;
}

.intro img {
    width: 70vw;
}


.button, .primaryButton {
    font-size: 1.4rem !important;
}

.button i, .primaryButton i {
    font-size: 1.4rem !important;
}

.primaryButton:hover {
    color: #FFF;
}

