@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:regular,bold,italic&subset=latin,latin-ext');

.root {
    flex-grow: 1;
}

.selector {
    width: 280px;
    float: right;
    display: block;
    clear: both;
    flex-direction: row !important;
}

.defaultLabel {
    font-size: 1.4rem !important;
    padding: 0 6px 4px !important;
    margin-left: -6px;
    transform: translate(30px, 8px) scale(1) !important;
    background-color: #BAD96F;
}

.selectorDropdown {
    font-size: 1.4rem !important;
    min-width: 250px;
    margin: 15px 15px 0px;
}

.selectorDropdown label, .selectorDropdown input {
    font-size: 1.4rem !important;
}

.selectorOption {
    font-size: 1.4rem !important;
}

.createInput {
    font-size: 1.4rem !important;
    margin: 15px 0 0px 15px !important;
}

.createInput input, .createInput label {
    font-size: 1.4rem !important;
}

.createButton {
    font-size: 1.4rem !important;
    margin: 15px 15px 0px !important;
}

.alertPopup {
    margin-top: 15px;
}

.alertPopup, .alertPopup span, .alertPopup button {
    font-size: 1.4rem !important;
}

.stepHeader {
    color: darkslategray;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.wheel {
    padding: 20px 40px;
}

.steps {
    padding: 20px 0;
}

.contentMarkdown {
    color: darkslategray;
    margin-bottom: 60px;
}

.contentMarkdown h1 {
    font-size: 130%;
}

.contentMarkdown p {
    font-size: 100% !important;
}

.contentMarkdown a {
    color: dodgerblue;
}

.contentMarkdown ul li {
    list-style-type: disc;
}

.wheelSection:hover {
    cursor: pointer;
}

.currentStep {
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 10rem;
    font-weight: bold;
    letter-spacing: -0.025em;
}

.btnGroup {
    position: relative;
    top: 500px;
    width: 480px;
    margin: 0 auto;
}

.stepItem span {
    font-size: 1.6rem !important;
}

/* Buttons and Button Nav */

.hidden {
    display: none;
}

.backButton {
    position: absolute;
}

.button {
    font-size: 1.4rem !important;
}

.btn {
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 100px;
    height: 100px;
    opacity: 0.7;
    cursor: pointer;
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
}

.btn:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.navArrows {
    text-align: center;
    color: dodgerblue;
    margin-bottom: 20px;
}

.navArrows:before, .navArrows:after {
    content: " ";
    display: table;
}

.navArrows:after {
    clear: both;
}

.leftButton, .leftButton i {
    font-size: 1.4rem !important;
    float: left;
}

.rightButton, .rightButton i {
    font-size: 1.4rem !important;
    float: right;
}

